@page "/cares"

<div class="container-fluid dogs-page p-5">
    <div id="section-title" class="row p-2 mb-4">
        <div class="col-12 text-center">
            <h2>
                <img src="images\huella-small.png" alt="">
                Guía del humano responsable.
                <img src="images\huella-small.png" alt="">
            </h2>
            <span class="text-muter">
                Porque formará parte de tu familia, te invitamos a infórmate sobre los cuidados y necesidades de tu
                nuevo mejor amigo.
            </span>
        </div>
    </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="/dogs" class="btn btn-dark btn-lg text-light shadow p-3 mb-5 rounded">
                    Adoptar un perrito
                </a>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Cachorros</h1>

            <ul class="list-unstyled text-justify">
                <li class="media my-4">
                    <img src="images\Collar-Ligero.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Collar Ligero</h5>
                        De lona sin ganchos e ir cambiando conforme va creciendo,
                        con una placa de identificación que incluya nombre,
                        dirección y teléfono
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Desparasitar.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Desparasitar</h5>
                        Recien llegado y cada 6 meses.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Agua-Limpia.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Agua limpia</h5>
                        Cambiar su agua al menos cada 24 horas.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Vacunar.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Vacunar</h5>
                        Vacunarlo y no pasearlo en zonas públicas hasta terminar con todas.
                        Despúes del año de edad, la sextuple cada año.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Esterilizar.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Esterilizar</h5>
                        Es fundamental por seguridad y responsabilidad.
                        (Recordar no hacerlo hasta 15 días después de su utlima vacuna).
                        Después de los 6 meses de edad.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Comer.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Alimentar</h5>
                        Debe comer 4 veces al día o más para poder crecer bien.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Baño.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Bañarlo</h5>
                        Como máximo 1 vez cada 2 semanas (a no ser que sea necesario).
                        Sugerencia: Usar jabón de avena "grisi" o shampoo Epi Sooth.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Juguetes.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Juguetes</h5>
                        Destinar sus juguetes a una zona especial, limpiar, guardar y cambiar
                        (trapos, cuerdas, mordederas, pelotas "Kongs", carnaza, etc)
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Areas.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Areas</h5>
                        Separar 3 areas, una para dormir, una para comer y otra para hacer sus necesidades.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\NoGolpes.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">No Golpes</h5>
                        Aprender mejor asociando ideas y palabras como "¡No!" o "¡Bien!" y cambios en nuestra actitud.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Recompensas.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Recompensas</h5>
                        Otorgarle recompensas y darle cariños o premios cuando haga algo bien.
                    </div>
                </li>
            </ul>
        </div>

        <div class="col">
            <h1 class="text-center">Adulto joven en adelante</h1>

            <ul class="list-unstyled text-justify">
                <li class="media my-4">
                    <img src="images\Collar-Ligero.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Collar Ligero</h5>
                        De lona sin ganchos e ir cambiando conforme va creciendo,
                        con una placa de identificación que incluya nombre,
                        dirección y teléfono
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Desparasitar.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Desparasitar</h5>
                        Recien llegado y cada 6 meses.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Agua-Limpia.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Agua limpia</h5>
                        Cambiar su agua al menos cada 24 horas.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Vacunar.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Vacunar</h5>
                        La sextuple cada año.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Esterilizar.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Esterilizar</h5>
                        Es fundamental por salud y responsabilidad. En cuanto recupere peso y recordar no hacerlo
                        hasta 15 días después de su utlima vacuna.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Comer.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Alimentar</h5>
                        Debe comer 2 veces al día alimento de cordero seco y/o mezclado con caldo, arroz o lata
                        (no más del 10%, retirar sobrante y refrigerar).
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Baño.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Bañarlo</h5>
                        Como máximo 1 vez cada 2 semanas (a no ser que sea necesario).
                        Sugerencia: Usar jabón de avena "grisi", parasiticida tópico como Revolution, Advantage o
                        Frontline.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Juguetes.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Juguetes</h5>
                        Destinar sus juguetes a una zona especial, limpiar, guardar y cambiar
                        (trapos, cuerdas, mordederas, pelotas "Kongs", carnaza, etc)
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Areas.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Areas</h5>
                        Separar 3 areas, una para dormir, una para comer y otra para hacer sus necesidades.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\NoGolpes.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">No Golpes</h5>
                        Aprender mejor asociando ideas y palabras como "¡No!" o "¡Bien!" y cambios en nuestra actitud o
                        tono de voz, recompensas y cariños
                        como premios (pedacitos de salchicha, tocinetas, palmadas, etc).
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Entrenamiento.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Entrenamiento</h5>
                        Fácil de aprender a cualquier edad y muy necesario en perros activos y jovenes siempre con
                        premio y estimulo.
                    </div>
                </li>
                <li class="media my-4">
                    <img src="images\Pasear.png" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Pasear</h5>
                        Por lo menos 2 veces al día, por salud, limpieza y reconocimiento de su territorio, pasear
                        recomendablemente con correa
                        y placa de identificación.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading text-center">!Bien hecho!</h4>
    <p class="text-center">Ahora sabes todo sobre como cuidar a tu perrito, con estos conocimientos tu perrito será más
        feliz en tu
        compañía.</p>
</div>