@inherits LayoutComponentBase
@using DogKeepers.Client.Components.NavMenu

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="z-index: 10;">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Entrar</button>
            <button type="button" class="btn btn-secondary">Registrarse</button>
        </div>
    </div>

    <div class="content">
        @Body
    </div>
</div>
