@page "/"
@page "/index"
@using MyFirstBlazorWasmApp.Client.Shared.Components
@layout PublicLayout

<Person
    Names="@People"
    GreetingMessage="Bienvenido"
>
    <Empty>
        <h3 class="text-danger">
            No hay personas que saludar.
        </h3>
    </Empty>
    <LotPeople>
        <h3 class="text-success">
            Tienes muchos conocidos.
        </h3>
    </LotPeople>


</Person>
<button class="btn btn-dark btn-lg" @onclick="AddPerson">
    Agregar persona
</button>
@code
{
    private List<string> People = new List<string>()
    {
        "Manolo", "Rody", "Krovolos"
    };
    private void AddPerson()
    {
        People.Add("Yadira");
    }
}