@page "/sayhello"

    <form>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Type a name">
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Let's say hi</button>
                <button type="button" class="btn btn-secondary">Go next</button>
            </div>
        </div>
    </form>
    <div class="alert alert-warning" role="alert">
        Nobody to say hello :(
    </div>

@code
{

}